.dart_tool/
.idea/
.vscode/
build/
android/.gradle/
android/build/
android/app/build/
ios/Flutter/ephemeral/
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
*.iml
analyze*.txt
build_log.txt
hs_err_pid*.log
replay_pid*.log
android/hs_err_pid*.log
android/replay_pid*.log
.DS_Store
